.pagination {
    align-items: center;
    display: flex;
    margin-top: 20px;
}

.pagination .left-container {
    width: 30%;
}

.pagination .right-container {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    width: 70%;
}

.pagination button, .pagination select {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    font-size: 16px;
    img {
        width: 12px;
    }
}

.pagination select {
    padding: 5px;
}